.action-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    user-select: none;
    -webkit-user-select: none;
}