.balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
}

.balance .value {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3rem;
}

.balance .address {
    color: #aaaaaa;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    cursor: pointer;
    user-select: none;
}