.input {
    width: 100%;
    min-height: 4rem;
    padding: 0px 3.5rem 0px 1rem;
    border-radius: 16px;
    display: flex;
    gap: 0.5rem;
    box-sizing: border-box;
    position: relative;
    transition: border-color 0.15s ease-in-out, background-color 0.10s ease-in-out;
    border: 1px solid rgb(38, 38, 38);
    background: rgb(38, 38, 38);
    align-items: start;
    overflow: hidden;
}

.input.invalid {
    border: 1px solid rgb(255, 71, 102) !important;
    background: rgba(255, 80, 80, 0.08);
}

.input textarea,
.input input {
    outline: none;
    border: none;
    background: transparent;
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgb(235, 235, 235);
    padding: 30px 0px 10px;
    resize: none;
    word-break: break-all;
    overflow: hidden;
    height: auto !important;
    field-sizing: content;
    max-width: 100%;
}

.input label {
    user-select: none;
    position: absolute;
    pointer-events: none;
    transform: translate(0px, 23px) scale(1);
    transform-origin: left top;
    color: rgb(148, 148, 152);
    font-size: 16px;
    line-height: 1;
    left: 1rem;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1);
}

.input label.c {
    user-select: none;
    position: absolute;
    pointer-events: none;
    transform-origin: left top;
    color: rgb(148, 148, 148);
    font-size: 16px;
    line-height: 1;
    left: 1rem;
    transform: translate(0px, 12px) scale(0.7);
    transition: 200ms cubic-bezier(0, 0, 0.2, 1);
}

.input:focus-within label {
    transform: translate(0px, 12px) scale(0.7);
}