.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  inset: 0;
  z-index: 1000;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal-form {
  width: 85%;
  max-width: 520px;
  background: #161616;
  padding: 1.5rem;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.modal-overlay:not(.hidden) .modal-form {
  transform: translateY(0);
}

.modal-form .close {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 100%;
    color: #cccccc;
    background-color: #262626;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.1s;
}

.modal-form .back {
  width: 2rem;
  height: 2rem;
  user-select: none;
}

.modal-form button.back {
  color: #ffffff;
  background-color: #262626;
  transition: background-color 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 100%;
}

.modal-form .close:hover {
  background-color: #313131;
}

.modal-form .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modal-form .header span {
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  white-space: nowrap;
}