html, body {
    margin: 0; padding: 0;
    height: 100%;
    font-family: Montserrat, sans-serif;
    color: #ebebeb;
    background-color: #161616;
    -webkit-font-smoothing: antialiased;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #555 #1a1a1a;
}

*::selection {
    background: #0088cc33;
}

#root {
    display: flex;
    height: 100%;
    justify-content: center;
    overflow-y: scroll;
}

main {
    width: 720px;
    height: 100%;
    padding: 24px 12px;
}